/****** ADD BELOW ACTION IF NEW SCRIPT IS GENERATED ******/
USE [master];
GO
CREATE LOGIN [PRO] WITH PASSWORD = N'Ephec@2026EPS!', CHECK_POLICY = OFF;
GO
CREATE LOGIN [readerX] WITH PASSWORD=N'Reader@2026EPS!', CHECK_EXPIRATION=ON, CHECK_POLICY=ON
GO
CREATE LOGIN [ephec_bu] WITH PASSWORD=N'Bops@2026EPS!', CHECK_EXPIRATION=ON, CHECK_POLICY=ON
GO
/****** REPLACE   WITH CATALOG_COLLATION = DATABASE_DEFAULT   BY   COLLATE French_100_CI_AI;   ******/
/****** REPLACE PATH FOR MDF  /var/opt/mssql/data/p3sgbd-prodv.mdf   ******/
/****** REPLACE PATH FOR LDF  /var/opt/mssql/data/p3sgbd-prodv_log.ldf   ******/

/****** SCRIPT START ******/
USE [master]
GO
/****** Object:  Database [p3sgbd-prodv]    Script Date: 07-04-26 23:39:01 ******/
CREATE DATABASE [p3sgbd-prodv]
 CONTAINMENT = NONE
 ON  PRIMARY
( NAME = N'p3sgbd-prodv', FILENAME = N'/var/opt/mssql/data/p3sgbd-prodv.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON
( NAME = N'p3sgbd-prodv_log', FILENAME = N'/var/opt/mssql/data/p3sgbd-prodv_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
COLLATE French_100_CI_AI;
GO

USE [p3sgbd-prodv];
GO

/****** Object:  User [readerX]    Script Date: 14-05-26 16:05:29 ******/
CREATE USER [readerX] FOR LOGIN [readerX] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [PRO]    Script Date: 14-05-26 16:05:29 ******/
CREATE USER [PRO] FOR LOGIN [PRO] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [ephec_bu]    Script Date: 14-05-26 16:05:29 ******/
CREATE USER [ephec_bu] FOR LOGIN [ephec_bu] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [readerX]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [readerX]
GO
ALTER ROLE [db_datareader] ADD MEMBER [PRO]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [PRO]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [ephec_bu]
GO
ALTER ROLE [db_datareader] ADD MEMBER [ephec_bu]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [p3sgbd-prodv].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  Table [dbo].[Fields]    Script Date: 14-05-26 16:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fields](
    [field_id] [int] IDENTITY(1,1) NOT NULL,
    [site_id] [int] NULL,
    [is_indoor] [bit] NOT NULL,
    [is_active] [bit] NOT NULL,
    [maintenance_from_date] [date] NULL,
    [maintenance_to_date] [date] NULL,
    PRIMARY KEY CLUSTERED
(
[field_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    ) ON [PRIMARY]
    GO
/****** Object:  Table [dbo].[Match_Payments]    Script Date: 14-05-26 16:05:29 ******/
    SET ANSI_NULLS ON
    GO
    SET QUOTED_IDENTIFIER ON
    GO
CREATE TABLE [dbo].[Match_Payments](
    [tr] [int] IDENTITY(1,1) NOT NULL,
    [user_id] [varchar](20) COLLATE French_100_CI_AI NULL,
    [match_id] [int] NULL,
    [amount] [decimal](6, 2) NOT NULL,
    [payment_date] [datetime2](7) NULL,
    [status] [varchar](15) COLLATE French_100_CI_AI NOT NULL,
    [payment_method] [varchar](10) COLLATE French_100_CI_AI NULL,
    PRIMARY KEY CLUSTERED
(
[tr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    ) ON [PRIMARY]
    GO
/****** Object:  Table [dbo].[Match_Players]    Script Date: 14-05-26 16:05:29 ******/
    SET ANSI_NULLS ON
    GO
    SET QUOTED_IDENTIFIER ON
    GO
CREATE TABLE [dbo].[Match_Players](
    [tr] [int] IDENTITY(1,1) NOT NULL,
    [match_id] [int] NOT NULL,
    [user_id] [varchar](20) COLLATE French_100_CI_AI NULL,
    [status] [varchar](15) COLLATE French_100_CI_AI NOT NULL,
    [p_role] [varchar](2) COLLATE French_100_CI_AI NOT NULL,
    PRIMARY KEY CLUSTERED
(
[tr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    ) ON [PRIMARY]
    GO
/****** Object:  Table [dbo].[Matches]    Script Date: 14-05-26 16:05:29 ******/
    SET ANSI_NULLS ON
    GO
    SET QUOTED_IDENTIFIER ON
    GO
CREATE TABLE [dbo].[Matches](
    [match_id] [int] IDENTITY(1,1) NOT NULL,
    [field_id] [int] NULL,
    [type] [varchar](10) COLLATE French_100_CI_AI NOT NULL,
    [pub_status] [varchar](15) COLLATE French_100_CI_AI NULL,
    [priv_status] [varchar](15) COLLATE French_100_CI_AI NULL,
    [match_date] [date] NOT NULL,
    [start_time] [time](7) NOT NULL,
    [end_time] [time](7) NOT NULL,
    [min_players] [int] NULL,
    [max_players] [int] NULL,
    [pricing] [int] NULL,
    [organiser_id] [varchar](20) COLLATE French_100_CI_AI NULL,
    PRIMARY KEY CLUSTERED
(
[match_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    ) ON [PRIMARY]
    GO
/****** Object:  Table [dbo].[Sites]    Script Date: 14-05-26 16:05:29 ******/
    SET ANSI_NULLS ON
    GO
    SET QUOTED_IDENTIFIER ON
    GO
CREATE TABLE [dbo].[Sites](
    [site_id] [int] IDENTITY(1,1) NOT NULL,
    [name] [varchar](100) COLLATE French_100_CI_AI NOT NULL,
    [address] [varchar](255) COLLATE French_100_CI_AI NOT NULL,
    [opening_time] [time](7) NOT NULL,
    [closing_time] [time](7) NOT NULL,
    [is_active] [bit] NOT NULL,
    PRIMARY KEY CLUSTERED
(
[site_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    ) ON [PRIMARY]
    GO
/****** Object:  Table [dbo].[Sites_ClosureDays]    Script Date: 14-05-26 16:05:29 ******/
    SET ANSI_NULLS ON
    GO
    SET QUOTED_IDENTIFIER ON
    GO
CREATE TABLE [dbo].[Sites_ClosureDays](
    [tr] [int] IDENTITY(1,1) NOT NULL,
    [site_id] [int] NULL,
    [closure_date] [date] NOT NULL,
    [reason] [varchar](255) COLLATE French_100_CI_AI NULL,
    [for_all] [bit] NOT NULL,
    PRIMARY KEY CLUSTERED
(
[tr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    ) ON [PRIMARY]
    GO
/****** Object:  Table [dbo].[Sites_Sessions]    Script Date: 14-05-26 16:05:29 ******/
    SET ANSI_NULLS ON
    GO
    SET QUOTED_IDENTIFIER ON
    GO
CREATE TABLE [dbo].[Sites_Sessions](
    [session_id] [int] IDENTITY(1,1) NOT NULL,
    [site_id] [int] NOT NULL,
    [match_sessions_json] [nvarchar](max) COLLATE French_100_CI_AI NOT NULL,
    PRIMARY KEY CLUSTERED
(
[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    ) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
    GO
/****** Object:  Table [dbo].[Users]    Script Date: 14-05-26 16:05:29 ******/
    SET ANSI_NULLS ON
    GO
    SET QUOTED_IDENTIFIER ON
    GO
CREATE TABLE [dbo].[Users](
    [user_id] [varchar](20) COLLATE French_100_CI_AI NOT NULL,
    [is_active] [bit] NOT NULL,
    [fname] [varchar](50) COLLATE French_100_CI_AI NOT NULL,
    [lname] [varchar](50) COLLATE French_100_CI_AI NOT NULL,
    [email] [varchar](100) COLLATE French_100_CI_AI NOT NULL,
    [bdate] [date] NULL,
    [role_id] [smallint] NULL,
    [lvl] [varchar](20) COLLATE French_100_CI_AI NULL,
    [last_login] [datetime2](7) NULL,
    [created] [datetime2](7) NULL,
    [auth] [varchar](255) COLLATE French_100_CI_AI NULL,
    PRIMARY KEY CLUSTERED
(
[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    ) ON [PRIMARY]
    GO
/****** Object:  Table [dbo].[Users_Accounts]    Script Date: 14-05-26 16:05:29 ******/
    SET ANSI_NULLS ON
    GO
    SET QUOTED_IDENTIFIER ON
    GO
CREATE TABLE [dbo].[Users_Accounts](
    [tr] [int] IDENTITY(1,1) NOT NULL,
    [user_id] [varchar](20) COLLATE French_100_CI_AI NOT NULL,
    [balance] [decimal](6, 2) NULL,
    [last_upd] [datetime2](7) NULL,
    [status] [varchar](10) COLLATE French_100_CI_AI NOT NULL,
    PRIMARY KEY CLUSTERED
(
[tr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    ) ON [PRIMARY]
    GO
/****** Object:  Table [dbo].[Users_Penalties]    Script Date: 14-05-26 16:05:29 ******/
    SET ANSI_NULLS ON
    GO
    SET QUOTED_IDENTIFIER ON
    GO
CREATE TABLE [dbo].[Users_Penalties](
    [tr] [int] IDENTITY(1,1) NOT NULL,
    [user_id] [varchar](20) COLLATE French_100_CI_AI NULL,
    [match_id] [int] NULL,
    [reason] [varchar](25) COLLATE French_100_CI_AI NOT NULL,
    [start_date] [datetime2](7) NOT NULL,
    [end_date] [datetime2](7) NOT NULL,
    [is_active] [bit] NOT NULL,
    [description] [varchar](255) COLLATE French_100_CI_AI NULL,
    PRIMARY KEY CLUSTERED
(
[tr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    ) ON [PRIMARY]
    GO
/****** Object:  Table [dbo].[Users_Roles]    Script Date: 14-05-26 16:05:29 ******/
    SET ANSI_NULLS ON
    GO
    SET QUOTED_IDENTIFIER ON
    GO
CREATE TABLE [dbo].[Users_Roles](
    [id] [smallint] NOT NULL,
    [name] [varchar](20) COLLATE French_100_CI_AI NOT NULL,
    [description] [varchar](255) COLLATE French_100_CI_AI NULL,
    PRIMARY KEY CLUSTERED
(
[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    ) ON [PRIMARY]
    GO
/****** Object:  Table [dbo].[Users_Sites]    Script Date: 14-05-26 16:05:29 ******/
    SET ANSI_NULLS ON
    GO
    SET QUOTED_IDENTIFIER ON
    GO
CREATE TABLE [dbo].[Users_Sites](
    [user_id] [varchar](20) COLLATE French_100_CI_AI NOT NULL,
    [site_id] [int] NOT NULL,
    [is_primary] [bit] NOT NULL,
    [is_vip] [bit] NOT NULL,
    PRIMARY KEY CLUSTERED
(
    [user_id] ASC,
[site_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    ) ON [PRIMARY]
    GO
    SET IDENTITY_INSERT [dbo].[Fields] ON
    GO
    INSERT [dbo].[Fields] ([field_id], [site_id], [is_indoor], [is_active], [maintenance_from_date], [maintenance_to_date]) VALUES (1, 1, 1, 1, NULL, NULL)
    GO
    INSERT [dbo].[Fields] ([field_id], [site_id], [is_indoor], [is_active], [maintenance_from_date], [maintenance_to_date]) VALUES (2, 1, 0, 1, NULL, NULL)
    GO
    INSERT [dbo].[Fields] ([field_id], [site_id], [is_indoor], [is_active], [maintenance_from_date], [maintenance_to_date]) VALUES (3, 1, 1, 1, CAST(N'2026-05-25' AS Date), CAST(N'2026-06-07' AS Date))
    GO
    SET IDENTITY_INSERT [dbo].[Fields] OFF
    GO
    SET IDENTITY_INSERT [dbo].[Match_Payments] ON
    GO
    INSERT [dbo].[Match_Payments] ([tr], [user_id], [match_id], [amount], [payment_date], [status], [payment_method]) VALUES (1, N'G0001', 18, CAST(15.00 AS Decimal(6, 2)), CAST(N'2026-05-11T22:08:44.9914220' AS DateTime2), N'clear', N'CARD')
    GO
    INSERT [dbo].[Match_Payments] ([tr], [user_id], [match_id], [amount], [payment_date], [status], [payment_method]) VALUES (2, N'G0001', 43, CAST(15.00 AS Decimal(6, 2)), CAST(N'2026-05-11T22:08:56.2411337' AS DateTime2), N'clear', N'CARD')
    GO
    INSERT [dbo].[Match_Payments] ([tr], [user_id], [match_id], [amount], [payment_date], [status], [payment_method]) VALUES (3, N'G0001', 21, CAST(15.00 AS Decimal(6, 2)), CAST(N'2026-05-11T22:09:10.6139262' AS DateTime2), N'clear', N'CARD')
    GO
    SET IDENTITY_INSERT [dbo].[Match_Payments] OFF
    GO
    SET IDENTITY_INSERT [dbo].[Match_Players] ON
    GO
    INSERT [dbo].[Match_Players] ([tr], [match_id], [user_id], [status], [p_role]) VALUES (1, 18, N'G0001', N'approved', N'p1')
    GO
    INSERT [dbo].[Match_Players] ([tr], [match_id], [user_id], [status], [p_role]) VALUES (2, 18, N'G0003', N'approved', N'p2')
    GO
    INSERT [dbo].[Match_Players] ([tr], [match_id], [user_id], [status], [p_role]) VALUES (3, 18, N'S0001', N'approved', N'p3')
    GO
    SET IDENTITY_INSERT [dbo].[Match_Players] OFF
    GO
    SET IDENTITY_INSERT [dbo].[Matches] ON
    GO
    INSERT [dbo].[Matches] ([match_id], [field_id], [type], [pub_status], [priv_status], [match_date], [start_time], [end_time], [min_players], [max_players], [pricing], [organiser_id]) VALUES (18, 1, N'public', N'closed', NULL, CAST(N'2026-06-20' AS Date), CAST(N'12:15:00' AS Time), CAST(N'13:45:00' AS Time), 4, 4, 60, NULL)
    GO
    INSERT [dbo].[Matches] ([match_id], [field_id], [type], [pub_status], [priv_status], [match_date], [start_time], [end_time], [min_players], [max_players], [pricing], [organiser_id]) VALUES (19, 1, N'public', N'open', NULL, CAST(N'2026-06-20' AS Date), CAST(N'14:00:00' AS Time), CAST(N'15:30:00' AS Time), 4, 4, 60, NULL)
    GO
    INSERT [dbo].[Matches] ([match_id], [field_id], [type], [pub_status], [priv_status], [match_date], [start_time], [end_time], [min_players], [max_players], [pricing], [organiser_id]) VALUES (20, 1, N'public', N'open', NULL, CAST(N'2026-06-20' AS Date), CAST(N'15:45:00' AS Time), CAST(N'17:15:00' AS Time), 4, 4, 60, NULL)
    GO
    SET IDENTITY_INSERT [dbo].[Matches] OFF
    GO
    SET IDENTITY_INSERT [dbo].[Sites] ON
    GO
    INSERT [dbo].[Sites] ([site_id], [name], [address], [opening_time], [closing_time], [is_active]) VALUES (1, N'Diego Rivera', N'72 Rue Pescatore, 6700 Arlon', CAST(N'12:00:00' AS Time), CAST(N'17:30:00' AS Time), 1)
    GO
    INSERT [dbo].[Sites] ([site_id], [name], [address], [opening_time], [closing_time], [is_active]) VALUES (2, N'Da Vinci', N'2 Av. Bourget, 1050 Ixelles', CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time), 1)
    GO
    INSERT [dbo].[Sites] ([site_id], [name], [address], [opening_time], [closing_time], [is_active]) VALUES (3, N'Claude Monet', N'10 Rue de la Montagne, 1150 Woluwé-St-Pierre', CAST(N'09:00:00' AS Time), CAST(N'20:00:00' AS Time), 1)
    GO
    SET IDENTITY_INSERT [dbo].[Sites] OFF
    GO
    SET IDENTITY_INSERT [dbo].[Sites_ClosureDays] ON
    GO
    INSERT [dbo].[Sites_ClosureDays] ([tr], [site_id], [closure_date], [reason], [for_all]) VALUES (1, 1, CAST(N'2026-02-20' AS Date), N'Maintenance', 0)
    GO
    INSERT [dbo].[Sites_ClosureDays] ([tr], [site_id], [closure_date], [reason], [for_all]) VALUES (2, 1, CAST(N'2026-03-15' AS Date), N'Événement spécial', 0)
    GO
    INSERT [dbo].[Sites_ClosureDays] ([tr], [site_id], [closure_date], [reason], [for_all]) VALUES (3, 1, CAST(N'2026-04-05' AS Date), N'Fermeture temporaire', 0)
    GO
    SET IDENTITY_INSERT [dbo].[Sites_ClosureDays] OFF
    GO
    SET IDENTITY_INSERT [dbo].[Sites_Sessions] ON
    GO
    INSERT [dbo].[Sites_Sessions] ([session_id], [site_id], [match_sessions_json]) VALUES (1, 1, N'{
  "sessions": [
    {"match_set_id": 1, "start_time": "12:15:00", "end_time": "13:45:00", "duration_minutes": 90},
    {"match_set_id": 2, "start_time": "14:00:00", "end_time": "15:30:00", "duration_minutes": 90},
    {"match_set_id": 3, "start_time": "15:45:00", "end_time": "17:15:00", "duration_minutes": 90}
  ]
}')
    GO
    SET IDENTITY_INSERT [dbo].[Sites_Sessions] OFF
    GO
    INSERT [dbo].[Users] ([user_id], [is_active], [fname], [lname], [email], [bdate], [role_id], [lvl], [last_login], [created], [auth]) VALUES (N'A001', 1, N'Paul', N'Mlkv', N'pmlkv@ephec.be', CAST(N'1995-11-05' AS Date), 9, NULL, CAST(N'2026-05-11T21:12:43.9158972' AS DateTime2), CAST(N'2026-05-08T00:09:05.2393677' AS DateTime2), N'$2a$10$FvQv/jxaibmNUo4GrvHY/uvo67/WyJvP318iflZn.bo3UbEqxryCy')
    GO
    INSERT [dbo].[Users] ([user_id], [is_active], [fname], [lname], [email], [bdate], [role_id], [lvl], [last_login], [created], [auth]) VALUES (N'A002', 1, N'Romain', N'Hardenne', N'rhardenne@ephec.be', CAST(N'1990-04-12' AS Date), 9, NULL, NULL, CAST(N'2026-05-08T00:09:05.2393677' AS DateTime2), N'$2a$10$1IyMnWWgDXkyHQ329gPE2eNBFDqENjZdKq5jAKXVJVB08r2hvFpni')
    GO
    INSERT [dbo].[Users] ([user_id], [is_active], [fname], [lname], [email], [bdate], [role_id], [lvl], [last_login], [created], [auth]) VALUES (N'G0001', 1, N'Marie', N'Chloe', N'mchlo@ephec.be', CAST(N'1998-07-01' AS Date), 2, N'débutant', CAST(N'2026-05-14T15:37:34.5869426' AS DateTime2), CAST(N'2026-05-08T00:09:05.2393677' AS DateTime2), N'$2a$10$9.IYuNC6pUDsB4OG8pfKi.Rk/9ssHFOx/b9I.5xL6iInK11jLdal6')
    GO
    SET IDENTITY_INSERT [dbo].[Users_Accounts] ON
    GO
    INSERT [dbo].[Users_Accounts] ([tr], [user_id], [balance], [last_upd], [status]) VALUES (1, N'G0001', CAST(0.00 AS Decimal(6, 2)), CAST(N'2026-05-08T00:09:05.2555705' AS DateTime2), N'clear')
    GO
    INSERT [dbo].[Users_Accounts] ([tr], [user_id], [balance], [last_upd], [status]) VALUES (2, N'G0002', CAST(-60.00 AS Decimal(6, 2)), CAST(N'2026-05-08T00:09:05.2555705' AS DateTime2), N'debt')
    GO
    INSERT [dbo].[Users_Accounts] ([tr], [user_id], [balance], [last_upd], [status]) VALUES (3, N'G0003', CAST(0.00 AS Decimal(6, 2)), CAST(N'2026-05-08T00:09:05.2555705' AS DateTime2), N'clear')
    GO
    SET IDENTITY_INSERT [dbo].[Users_Accounts] OFF
    GO
    SET IDENTITY_INSERT [dbo].[Users_Penalties] ON
    GO
    INSERT [dbo].[Users_Penalties] ([tr], [user_id], [match_id], [reason], [start_date], [end_date], [is_active], [description]) VALUES (1, N'G0002', NULL, N'unpaid_balance', CAST(N'2026-05-08T00:09:05.2600000' AS DateTime2), CAST(N'2031-05-08T00:09:05.2600000' AS DateTime2), 1, N'User has unpaid balance')
    GO
    INSERT [dbo].[Users_Penalties] ([tr], [user_id], [match_id], [reason], [start_date], [end_date], [is_active], [description]) VALUES (2, N'S0002', NULL, N'unpaid_balance', CAST(N'2026-05-08T00:09:05.2600000' AS DateTime2), CAST(N'2031-05-08T00:09:05.2600000' AS DateTime2), 0, N'User has unpaid balance')
    GO
    SET IDENTITY_INSERT [dbo].[Users_Penalties] OFF
    GO
    INSERT [dbo].[Users_Roles] ([id], [name], [description]) VALUES (0, N'invite', N'Membre externe invité')
    GO
    INSERT [dbo].[Users_Roles] ([id], [name], [description]) VALUES (1, N'subscribed', N'Membre avec souscription à au moins un site')
    GO
    INSERT [dbo].[Users_Roles] ([id], [name], [description]) VALUES (2, N'all_site', N'Membre VIP - souscription multi-sites')
    GO
    INSERT [dbo].[Users_Sites] ([user_id], [site_id], [is_primary], [is_vip]) VALUES (N'G0001', 1, 1, 1)
    GO
    INSERT [dbo].[Users_Sites] ([user_id], [site_id], [is_primary], [is_vip]) VALUES (N'G0001', 2, 0, 1)
    GO
    INSERT [dbo].[Users_Sites] ([user_id], [site_id], [is_primary], [is_vip]) VALUES (N'G0002', 2, 1, 1)
    GO
    SET ANSI_PADDING ON
    GO
/****** Object:  Index [uq_match_role]    Script Date: 14-05-26 16:05:29 ******/
ALTER TABLE [dbo].[Match_Players] ADD  CONSTRAINT [uq_match_role] UNIQUE NONCLUSTERED
    (
    [match_id] ASC,
    [p_role] ASC
    )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    GO
/****** Object:  Index [UQ__Sites_Se__B22FDBCBFCAD90A6]    Script Date: 14-05-26 16:05:29 ******/
ALTER TABLE [dbo].[Sites_Sessions] ADD UNIQUE NONCLUSTERED
    (
    [site_id] ASC
    )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    GO
/****** Object:  Index [uq_site_session]    Script Date: 14-05-26 16:05:29 ******/
ALTER TABLE [dbo].[Sites_Sessions] ADD  CONSTRAINT [uq_site_session] UNIQUE NONCLUSTERED
    (
    [site_id] ASC
    )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    GO
    SET ANSI_PADDING ON
    GO
/****** Object:  Index [UQ__Users__AB6E6164DDBA3969]    Script Date: 14-05-26 16:05:29 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED
    (
    [email] ASC
    )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    GO
    SET ANSI_PADDING ON
    GO
/****** Object:  Index [uq_users_accounts_user]    Script Date: 14-05-26 16:05:29 ******/
ALTER TABLE [dbo].[Users_Accounts] ADD  CONSTRAINT [uq_users_accounts_user] UNIQUE NONCLUSTERED
    (
    [user_id] ASC
    )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    GO
ALTER TABLE [dbo].[Fields] ADD  DEFAULT ((0)) FOR [is_indoor]
    GO
ALTER TABLE [dbo].[Fields] ADD  DEFAULT ((1)) FOR [is_active]
    GO
ALTER TABLE [dbo].[Matches] ADD  DEFAULT ((4)) FOR [min_players]
    GO
ALTER TABLE [dbo].[Matches] ADD  DEFAULT ((4)) FOR [max_players]
    GO
ALTER TABLE [dbo].[Matches] ADD  DEFAULT ((60)) FOR [pricing]
    GO
ALTER TABLE [dbo].[Sites] ADD  DEFAULT ((1)) FOR [is_active]
    GO
ALTER TABLE [dbo].[Sites_ClosureDays] ADD  DEFAULT ((0)) FOR [for_all]
    GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [is_active]
    GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (NULL) FOR [lvl]
    GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysdatetime()) FOR [created]
    GO
ALTER TABLE [dbo].[Users_Accounts] ADD  DEFAULT ((0.00)) FOR [balance]
    GO
ALTER TABLE [dbo].[Users_Accounts] ADD  DEFAULT (sysdatetime()) FOR [last_upd]
    GO
ALTER TABLE [dbo].[Users_Accounts] ADD  DEFAULT ('clear') FOR [status]
    GO
ALTER TABLE [dbo].[Users_Penalties] ADD  DEFAULT ((1)) FOR [is_active]
    GO
ALTER TABLE [dbo].[Users_Sites] ADD  DEFAULT ((1)) FOR [is_primary]
    GO
ALTER TABLE [dbo].[Users_Sites] ADD  DEFAULT ((0)) FOR [is_vip]
    GO
ALTER TABLE [dbo].[Fields]  WITH CHECK ADD FOREIGN KEY([site_id])
    REFERENCES [dbo].[Sites] ([site_id])
    ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Match_Payments]  WITH CHECK ADD FOREIGN KEY([match_id])
    REFERENCES [dbo].[Matches] ([match_id])
    GO
ALTER TABLE [dbo].[Match_Payments]  WITH CHECK ADD FOREIGN KEY([user_id])
    REFERENCES [dbo].[Users] ([user_id])
    GO
ALTER TABLE [dbo].[Match_Players]  WITH CHECK ADD FOREIGN KEY([match_id])
    REFERENCES [dbo].[Matches] ([match_id])
    GO
ALTER TABLE [dbo].[Match_Players]  WITH CHECK ADD FOREIGN KEY([user_id])
    REFERENCES [dbo].[Users] ([user_id])
    GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD FOREIGN KEY([field_id])
    REFERENCES [dbo].[Fields] ([field_id])
    ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD FOREIGN KEY([organiser_id])
    REFERENCES [dbo].[Users] ([user_id])
    GO
ALTER TABLE [dbo].[Sites_ClosureDays]  WITH CHECK ADD FOREIGN KEY([site_id])
    REFERENCES [dbo].[Sites] ([site_id])
    ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sites_Sessions]  WITH CHECK ADD FOREIGN KEY([site_id])
    REFERENCES [dbo].[Sites] ([site_id])
    ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([role_id])
    REFERENCES [dbo].[Users_Roles] ([id])
    ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Users_Accounts]  WITH CHECK ADD  CONSTRAINT [fk_users_accounts_user] FOREIGN KEY([user_id])
    REFERENCES [dbo].[Users] ([user_id])
    GO
ALTER TABLE [dbo].[Users_Accounts] CHECK CONSTRAINT [fk_users_accounts_user]
    GO
ALTER TABLE [dbo].[Users_Penalties]  WITH CHECK ADD FOREIGN KEY([match_id])
    REFERENCES [dbo].[Matches] ([match_id])
    GO
ALTER TABLE [dbo].[Users_Penalties]  WITH CHECK ADD FOREIGN KEY([user_id])
    REFERENCES [dbo].[Users] ([user_id])
    GO
ALTER TABLE [dbo].[Users_Sites]  WITH CHECK ADD FOREIGN KEY([site_id])
    REFERENCES [dbo].[Sites] ([site_id])
    ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users_Sites]  WITH CHECK ADD FOREIGN KEY([user_id])
    REFERENCES [dbo].[Users] ([user_id])
    ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Match_Payments]  WITH CHECK ADD  CONSTRAINT [chk_payment_date_if_clear_or_refunded] CHECK  ((NOT ([status]='refunded' OR [status]='clear') OR [payment_date] IS NOT NULL))
    GO
ALTER TABLE [dbo].[Match_Payments] CHECK CONSTRAINT [chk_payment_date_if_clear_or_refunded]
    GO
ALTER TABLE [dbo].[Match_Payments]  WITH CHECK ADD  CONSTRAINT [chk_payment_method_required_conditional] CHECK  (([payment_method] IS NOT NULL OR NOT ([status]='refunded' OR [status]='clear') AND [payment_date] IS NULL))
    GO
ALTER TABLE [dbo].[Match_Payments] CHECK CONSTRAINT [chk_payment_method_required_conditional]
    GO
ALTER TABLE [dbo].[Match_Payments]  WITH CHECK ADD  CONSTRAINT [chk_payment_method_values] CHECK  (([payment_method] IS NULL OR ([payment_method]='CARD' OR [payment_method]='COUNTER')))
    GO
ALTER TABLE [dbo].[Match_Payments] CHECK CONSTRAINT [chk_payment_method_values]
    GO
ALTER TABLE [dbo].[Match_Payments]  WITH CHECK ADD  CONSTRAINT [chk_payment_status] CHECK  (([status]='refunded' OR [status]='failed' OR [status]='cancelled' OR [status]='pending' OR [status]='clear'))
    GO
ALTER TABLE [dbo].[Match_Payments] CHECK CONSTRAINT [chk_payment_status]
    GO
ALTER TABLE [dbo].[Match_Players]  WITH CHECK ADD  CONSTRAINT [check_player_role] CHECK  (([p_role]='p4' OR [p_role]='p3' OR [p_role]='p2' OR [p_role]='p1'))
    GO
ALTER TABLE [dbo].[Match_Players] CHECK CONSTRAINT [check_player_role]
    GO
ALTER TABLE [dbo].[Match_Players]  WITH CHECK ADD  CONSTRAINT [chk_session_status] CHECK  (([status]='declined' OR [status]='pending' OR [status]='approved'))
    GO
ALTER TABLE [dbo].[Match_Players] CHECK CONSTRAINT [chk_session_status]
    GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [check_match_status] CHECK  (([type]='private' AND [priv_status] IS NOT NULL AND [pub_status] IS NULL OR [type]='public' AND [pub_status] IS NOT NULL AND [priv_status] IS NULL))
    GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [check_match_status]
    GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [check_match_time] CHECK  (([end_time]>[start_time]))
    GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [check_match_time]
    GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [chk_match_type] CHECK  (([type]='public' OR [type]='private'))
    GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [chk_match_type]
    GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [chk_priv_status] CHECK  (([priv_status]='cancelled' OR [priv_status]='completed' OR [priv_status]='confirmed' OR [priv_status]='awaiting'))
    GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [chk_priv_status]
    GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [chk_pub_status] CHECK  (([pub_status]='cancelled' OR [pub_status]='completed' OR [pub_status]='open' OR [pub_status]='closed'))
    GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [chk_pub_status]
    GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [check_users_lvl] CHECK  (([lvl] IS NULL OR ([lvl]='confirmé' OR [lvl]='averti' OR [lvl]='débutant')))
    GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [check_users_lvl]
    GO
ALTER TABLE [dbo].[Users_Accounts]  WITH CHECK ADD  CONSTRAINT [check_user_status] CHECK  (([status]='debt' OR [status]='clear'))
    GO
ALTER TABLE [dbo].[Users_Accounts] CHECK CONSTRAINT [check_user_status]
    GO
ALTER TABLE [dbo].[Users_Penalties]  WITH CHECK ADD  CONSTRAINT [check_penalty_date] CHECK  (([end_date]>[start_date]))
    GO
ALTER TABLE [dbo].[Users_Penalties] CHECK CONSTRAINT [check_penalty_date]
    GO
ALTER TABLE [dbo].[Users_Penalties]  WITH CHECK ADD  CONSTRAINT [check_penalty_reason] CHECK  (([reason]='insufficient_players' OR [reason]='no_show' OR [reason]='unpaid_balance'))
    GO
ALTER TABLE [dbo].[Users_Penalties] CHECK CONSTRAINT [check_penalty_reason]
    GO
    USE [master]
    GO
